<nav-bar></nav-bar>
<div class="container-fluid">
   <div class="row principal">
     <div class="col-12 col-lg-12 col-sm-12 col-md-12 contenido">
        <h2 class="nombreEmpresa"> ONUS </h2>
        <p class="slogan"> Redefiniendo el transporte por carretera </p>
        <button type="button" class="btn btn-default"><a routerLink="/pantalla-info"> Información de la empresa </a></button>
     </div>
    </div>

      <div class="row tamanio ">
         <div class="col-12 p-4 col-lg-6 col-sm-6 col-md-6 intercambio fondo">
              <img src="../../../../assets/images/pantalla-principal/flechas.png" alt="intercambio" width="180px" height="150px"/>
              <h2 class="estiloTitulo"> Intercambio de servicios </h2>
              <p class="estiloDatos"> La empresa publica los portes que necesita de forma rápida y sencilla. <br> 
              Los transportistas escogen portes según sus necesidades. </p>
         </div>
  
         <div class="col-12 p-4 col-lg-6 col-sm-6 col-md-6 pagos fondo">
          <img src="../../../../assets/images/pantalla-principal/pago.png" alt="pagos" width="180px" height="150px"/>
          <h2 class="estiloTitulo"> Pagos seguros </h2>
          <p class="estiloDatos"> La empresa recibe su dinero una vez cogido el porte. <br> 
          Los transportistas pagan una vez seleccionado el porte con sus características. </p>
         </div>
      </div>
  
      <div class="row tamanio">
          <div class="col-12  p-4 col-lg-6 col-sm-6 col-md-6 ubicacion fondo">
              <img src="../../../../assets/images/pantalla-principal/ubicacion.png" alt="ubicacion" width="190px" height="160px"/>
              <h2 class="estiloTitulo"> Selección de ubicación </h2>
              <p class="estiloDatos"> La empresa publica sus portes desde cualquier ciudad, provincia y localidad. <br> 
              Los transportistas pueden escoger según la ubicación del porte. </p>
          </div>
  
          <div class="col-12  p-4 col-lg-6 col-sm-6 col-md-6 calendario fondo">
              <img src="../../../../assets/images/pantalla-principal/calendario.png" alt="calendario" width="170px" height="140px"/>
              <h2 class="estiloTitulo"> Disponiblidad de fechas </h2>
              <p class="estiloDatos"> La empresa publica sus portes en las fechas que necesite. <br> 
              Los transportistas pueden elegir el porte según la fecha. </p>
          </div>
      </div>
</div>
<app-footer></app-footer>