.navbar{
    background-color: #016270;
}


#singup {
    background-color:rgb(226, 50, 118); 
    color: white;
}

#login{
    text-decoration: none;
    color:white;
}


.contenido{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/assets/images/paquetesInfo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 60px;
    color: rgb(226, 50, 118);
    text-align: center;
}
h2 {
    margin-left: 20px;
    font-size: 30px;
    color: rgb(65, 135, 192);
}
p {
    margin-left: 30px;
    font-size: 18px;
    color: white;
}
.puntos{
    margin-left: 40px;
    font-size: 18px;
    color: white;
}
hr {
    color: white;
}