
<nav class="navbar navbar-expand-lg navbar-light" *ngIf="!isLogged;else isLoggedIn">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/ptprincipal"><img src="/assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/ptprincipal" class="nav-link active" aria-current="page" id="ONUS">ONUS</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <button [routerLink]="'/login'" type="button" class="btn btn-link px-3 me-2" id="login">
            Login
          </button>
          <button [routerLink]="'/singup'" type="button" class="btn me-3" id="singup">
            Sing up
          </button>
        </div>
      </div>
    </div>
</nav>

<!-- Barra tools -->
<ng-template #isLoggedIn>
 <!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/dashboard"><img src="../assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active" aria-current="page" id="ONUS">ONUS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          
        </ul>
        <div class="d-flex align-items-center">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a class="search_icon" href="#"><img src="../../assets/images/dashboard/lupa.png" height="20" alt="imagen lupa"></a>
              </div>
        </div>
      </div>
    </div>
  </nav>-->
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand p-0 me-0 ms-2"  routerLink="/dashboard"><img src="../assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
    <li class="mb-3 p-0">
      <a routerLink="/dashboard" class="nav-link active" aria-current="page" id="ONUS">ONUS</a>
    </li>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
  
</ng-template>


