<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="ONUS">ONUS</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2" id="login">
            Login
          </button>
          <button type="button" class="btn me-3" id="singup">
            Sign up
          </button>
        </div>
      </div>
    </div>
  </nav>

<div class="contenido">
    <br>
    <h1> ONUS INFORMACIÓN</h1> <hr>

    <h2>Quiénes somos</h2>
    <p>El Grupo ONUS, nace en 2022 por medio de un proyecto. Es una marca de transporte para envíos nacionales con una gran facilidad de intercambio de servicios entre empresas y transportistas.
    Los valores diferenciales de ONUS son Fiabilidad, Calidad, Rapidez, Innovación, Sencillez, Sostenibilidad y Cercanía.
    Realizamos envíos a más de 100 destinos de toda España y ofrecemos soluciones de transporte a aquellas empresas que comercializan sus productos a través de internet.</p><br> <hr>

    <h2>Política de Sostenibilidad</h2>
    <p>ONUS es una empresa a nivel nacional y un referente en el compromiso social. Nuestra misión es aportar soluciones para hacer ganar tiempo, uniendo personas y distancias, comprometidos con un mundo más sostenible. <br>
    Por ello, nos comprometemos a desarrollar nuestra actividad de manera sostenible, teniendo en cuenta los siguientes principios:</p> <br> 
    <div class="puntos">
      •	Cumplir con la legislación y reglamentación ambiental aplicable y otros compromisos que la organización asuma. <br>
      •	Mejorar continuamente mediante la evaluación de los impactos ambientales de nuestra actividad y la revisión periódica del Sistema Integrado de Gestión. <br>
      •	Informar y colaborar con las autoridades públicas en situaciones de crisis y emergencias ambientales y manifestar nuestra disposición permanente a cooperar con ellas. <br>
      •	Promover los siguientes compromisos ambientales en la organización para un uso eficiente de recursos y minimización del impacto ambiental, mediante la fijación de objetivos a corto, medio y largo plazo. <br>
      •	Reducir nuestras emisiones de CO2 conteniendo transportistas que respeten las emisiones. <br>
      •	Fomentar la eficiencia energética y el uso óptimo de los recursos naturales en la organización. <br>
      •	Disminuir el impacto de la generación de residuos de nuestra actividad mediante la reducción, la reutilización y el reciclaje. <br>
    </div><br>
    <p>Siendo plenamente conscientes de la repercusión ambiental que origina nuestra actividad logística y de transporte, por medio de la presente Política de Sostenibilidad queremos actuar respetando nuestro entorno y el bienestar social de las generaciones presentes y futuras. </p> <br> <hr>

    <h2>Valores</h2>
    <p>Compromiso · Eficiencia · Transparencia · Pasión · Innovación <br>
    En consecuencia, la Dirección General de ONUS mantiene su compromiso de realizar un esfuerzo constante para: </p> <br>
      <div class="puntos">
        •	Garantizar la excelencia de todos los procesos de la Compañía. <br>
        •	Identificar nuevas áreas de negocio, estar atento a las necesidades de las empresas y transportistas, aplicando la tecnología para responder eficazmente. <br>
        •	Promover la capacitación y desarrollo de habilidades de empleados y miembros de las oficinas de la Red. <br>
      </div> <br>
    <p> De esta forma se hace patente la intención de ONUS de asegurar la mejora continua en el camino hacia la excelencia y la protección ambiental, cumpliendo por tanto los objetivos y requisitos aplicables, incluidos los legales y reglamentarios. </p> <br> <hr>

    <h2>Política de Igualdad</h2> 
    <p>
    •	Fomentar la contratación de mujeres/hombres en puestos y categorías en los que estén subrepresentadas/os. <br>
    •	Eliminar toda manifestación de discriminación en la promoción interna y selección con objeto de alcanzar una representación equilibrada de la mujer en la plantilla. <br>
    •	Prevenir el acoso sexual y acoso por razón de sexo, implantando un código de conducta que proteja a todos los empleados y empleadas de ofensas de naturaleza sexual. <br>
    •	Promover el principio de igualdad de trato entre mujeres y hombres, garantizando las mismas oportunidades profesionales en el empleo, selección, retribución, formación, desarrollo, promoción y condiciones de trabajo. </p>
 <br>
</div>