<div class="container-fluid p-5">
  <mat-stepper [linear]="isLinear" #stepper> <mat-step label="Recogida">
    <form #recogidaForm="ngForm" (submit)="onRecogida(recogidaForm.value , true)" id="rForm">
      <div class="row g-0 d-flex justify-content-center">
        <div class="col-10">
          <div class="card border-secondary mb-3">
            <div class="card-header">
              <h1 class="text-center"> Datos de recogida <i class="fa fa-truck-ramp-box"></i></h1>
            </div>
            <div class="card-body text-secondary">
              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="pais">PAIS</label>
                    <div class="form-floating mb-3">
                      <select name="pais" id="pais" class="form-control" #pais="ngModel" ngModel paisValidator
                        (ngModelChange)="renewProvinciasR($event)">
                        <option value="">Selecciona un pais</option>
                        <option *ngFor="let pais of paisesR" [ngValue]="pais" class="option">{{pais.nombre}}
                        </option>
                      </select>
                      <div *ngIf="pais.invalid && (pais.dirty ||pais.touched)">
                        <div *ngIf="['paisv']" class="invalid-tooltip d-block">
                          {{pais.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="pais"> Pais </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="provincia">PROVINCIA</label>
                    <div class="form-floating mb-3">
                      <select name="provincia" id="provincia" class="form-control" #provincia="ngModel" ngModel
                        provinciaValidator (ngModelChange)="renewLocalidadesR($event)">
                        <option value="">Selecciona una provincia</option>
                        <option *ngFor="let provincia of provinciasR" [ngValue]="provincia" class="option">
                          {{provincia.nombre}}</option>
                      </select>
                      <div *ngIf="provincia.invalid && (provincia.dirty ||provincia.touched)">
                        <div *ngIf="['provinciav']" class="invalid-tooltip d-block">
                          {{provincia.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="provincia">Provincia</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="localidad">LOCALIDAD</label>
                    <div class="form-floating mb-3">
                      <select name="localidad" id="localidad" class="form-control" #localidad="ngModel" ngModel
                        localidadValidator (ngModelChange)="renewCpR($event)">
                        <option value="">Selecciona una localidad</option>
                        <option *ngFor="let localidad of localidadesR" [ngValue]="localidad" class="option">
                          {{localidad.nombre}}</option>
                      </select>
                      <div *ngIf="localidad.invalid && (localidad.dirty ||localidad.touched)">
                        <div *ngIf="['localidadv']" class="invalid-tooltip d-block">
                          {{localidad.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="localidad">Localidad</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccionvia">TIPO VIA</label>
                    <div class="form-floating mb-3">
                      <select name="direccionvia" id="direccionvia" class="form-control" #direccionvia="ngModel"
                        ngModel tipoviaValidator>
                        <option value="">Tipo de Via</option>
                        <option value="calle">Calle</option>
                      </select>
                      <div *ngIf="direccionvia.invalid && (direccionvia.dirty ||direccionvia.touched)">
                        <div *ngIf="['tipoviav']" class="invalid-tooltip d-block">
                          {{direccionvia.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccionvia"> Dirección vía </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccion">DIRECCION</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="direccion" id="direccion" class="additional form-control"
                        placeholder="direccion" #direccion="ngModel" ngModel direccionValidator>
                      <div *ngIf="direccion.invalid && (direccion.dirty ||direccion.touched)">
                        <div *ngIf="['direccionv']" class="invalid-tooltip d-block">
                          {{direccion.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccion">Dirección</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccionnumero">NUMERO</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="direccionnumero" id="direccionnumero" class="zip form-control"
                        #direccionnumero="ngModel" placeholder="nº" ngModel numeroValidator>
                      <div *ngIf="direccionnumero.invalid && (direccionnumero.dirty ||direccionnumero.touched)">
                        <div *ngIf="['numerov']" class="invalid-tooltip d-block">
                          {{direccionnumero.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccionnumero"> Número </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="cp">CODIGO POSTAL</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="cp" id="cp" class="zip form-control"
                        #direccionnumero="ngModel" placeholder="nº" ngModel [(ngModel)]="cpRecogida" readonly>
                      <label for="cp"> Código Postal </label>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" mat-button matStepperNext class="btn" [disabled]="recogidaForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step  label="Entrega">
    <form #entregaForm="ngForm" (submit)="onEntrega(entregaForm.value , true)" id="eForm">
      <div class="row g-0 d-flex justify-content-center">
        <div class="col-10">
          <div class="card border-secondary mb-3">
            <div class="card-header">
              <h1 class="text-center"> Datos de entrega <i class="fa fa-dolly"></i></h1>
            </div>
            <div class="card-body text-secondary">
              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="pais">PAIS</label>
                    <div class="form-floating mb-3">
                      <select name="pais" id="pais" class="form-control" #pais="ngModel" ngModel paisValidator
                        (ngModelChange)="renewProvinciasE($event)">
                        <option value="">Selecciona un pais</option>
                        <option *ngFor="let pais of paisesE" [ngValue]="pais" class="option">{{pais.nombre}}
                        </option>
                      </select>
                      <div *ngIf="pais.invalid && (pais.dirty ||pais.touched)">
                        <div *ngIf="['paisv']" class="invalid-tooltip d-block">
                          {{pais.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="pais"> Pais </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="provincia">PROVINCIA</label>
                    <div class="form-floating mb-3">
                      <select name="provincia" id="provincia" class="form-control" #provincia="ngModel" ngModel
                        provinciaValidator (ngModelChange)="renewLocalidadesE($event)">
                        <option value="">Selecciona una provincia</option>
                        <option *ngFor="let provincia of provinciasE" [ngValue]="provincia" class="option">
                          {{provincia.nombre}}</option>
                      </select>
                      <div *ngIf="provincia.invalid && (provincia.dirty ||provincia.touched)">
                        <div *ngIf="['provinciav']" class="invalid-tooltip d-block">
                          {{provincia.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="provincia">Provincia</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="localidad">LOCALIDAD</label>
                    <div class="form-floating mb-3">
                      <select name="localidad" id="localidad" class="form-control" #localidad="ngModel" ngModel
                        localidadValidator (ngModelChange)="renewCpE($event)">
                        <option value="">Selecciona una localidad</option>
                        <option *ngFor="let localidad of localidadesE" [ngValue]="localidad" class="option">
                          {{localidad.nombre}}</option>
                      </select>
                      <div *ngIf="localidad.invalid && (localidad.dirty ||localidad.touched)">
                        <div *ngIf="['localidadv']" class="invalid-tooltip d-block">
                          {{localidad.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="localidad">Localidad</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccionvia">TIPO VIA</label>
                    <div class="form-floating mb-3">
                      <select name="direccionvia" id="direccionvia" class="form-control" #direccionvia="ngModel"
                        ngModel tipoviaValidator>
                        <option value="">Tipo de Via</option>
                        <option value="calle">Calle</option>
                      </select>
                      <div *ngIf="direccionvia.invalid && (direccionvia.dirty ||direccionvia.touched)">
                        <div *ngIf="['tipoviav']" class="invalid-tooltip d-block">
                          {{direccionvia.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccionvia"> Dirección vía </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccion">DIRECCION</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="direccion" id="direccion" class="additional form-control"
                        placeholder="direccion" #direccion="ngModel" ngModel direccionValidator>
                      <div *ngIf="direccion.invalid && (direccion.dirty ||direccion.touched)">
                        <div *ngIf="['direccionv']" class="invalid-tooltip d-block">
                          {{direccion.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccion">Dirección</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-0">
                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="direccionnumero">NUMERO</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="direccionnumero" id="direccionnumero" class="zip form-control"
                        #direccionnumero="ngModel" placeholder="nº" ngModel numeroValidator>
                      <div *ngIf="direccionnumero.invalid && (direccionnumero.dirty ||direccionnumero.touched)">
                        <div *ngIf="['numerov']" class="invalid-tooltip d-block">
                          {{direccionnumero.errors?.['requiredValue']}}
                        </div>
                      </div>
                      <label for="direccionnumero"> Número </label>
                    </div>
                  </div>
                </div>

                <div class="col-5 me-5 ms-5">
                  <div class="form-group">
                    <label class="label" for="cp">CODIGO POSTAL</label>
                    <div class="form-floating mb-3">
                      <input type="text" name="cp" id="cp" class="zip form-control"
                        #direccionnumero="ngModel" placeholder="nº" ngModel [(ngModel)]="cpEntrega" readonly>
                      <label for="cp"> Código Postal </label>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" mat-button matStepperNext class="btn" [disabled]="entregaForm.invalid">Next</button>
        <button mat-button matStepperPrevious class="btn">Back</button>
      </div>
    </form>
  </mat-step>
    <mat-step >
      <form #datosForm="ngForm" (submit)="onDatos(datosForm.value, true)" id="dForm">
        <ng-template matStepLabel >Datos del viaje</ng-template>
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-10">
            <div class="card border-secondary mb-3">
              <div class="card-header">
                <h1 class="text-center">Datos del viaje <i class="fa fa-pencil-square-o bigicon"></i></h1>
              </div>
              <div class="card-body text-secondary">
                <div class="row g-0">
                  <div class="col-5 me-5 ms-5">
                    <div class="form-group">
                      <label class="label" for="descripcion">DESCRIPCIÓN</label>
                      <div class="form-floating mb-3">
                        <input type="text" name="descripcion" id="descripcion" class="company form-control"
                          placeholder="" #nombre="ngModel" ngModel nombreValidator />
                        <label for="descripcion"> Descripción </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-5 ms-5">
                    <div class="form-group">
                      <label class="label" for="fHoraFin">FECHA DE FIN</label>
                      <div class="form-floating mb-3">
                        <input type="date" name="fHoraFin" id="fHoraFin" class="company form-control"
                          #fHoraFin="ngModel" ngModel fHoraFinValidator />
                        <label for="fHoraFin"> Fecha de fin </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-0">
                  <div class="col-5 ms-5 me-5">
                    <div class="form-group">
                      <label class="label" for="fHoraInicio">FECHA DE INICIO</label>
                      <div class="form-floating mb-3">
                        <input type="date" name="fHoraInicio" id="fHoraInicio" class="company form-control"
                          #fHoraInicio="ngModel" ngModel fHoraInicioValidator />
                        <label for="fHoraInicio"> Fecha de inicio </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-5 ms-5">
                    <div class="form-group">
                      <label class="label" for="precio">PRECIO</label>
                      <div class="form-floating mb-3">
                        <input type="text" name="precio" id="precio" class="company form-control" placeholder="€"
                           [(ngModel)]="precio" precioValidator />
                        <label for="precio"> Precio</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-direction 
                      [origin]="origin" 
                      [destination]="destination"
                    >
                    </agm-direction>
                  </agm-map>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" mat-button matStepperNext class="btn" [disabled]="datosForm.invalid">Next</button>
          <button mat-button matStepperPrevious class="btn">Back</button>
        </div>
      </form>
    </mat-step>
   
    <mat-step>
      <ng-template matStepLabel>Confirmar</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious class="btn">Back</button>
        <button mat-button (click)="stepper.reset()" class="btn">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>