
<nav class="navbar navbar-expand-lg navbar-light" *ngIf="!isLogged;else isLoggedIn">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/ptprincipal"><img src="/assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/ptprincipal" class="nav-link active" aria-current="page" id="ONUS">ONUS</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <button [routerLink]="'/login'" type="button" class="btn btn-link px-3 me-2" id="login">
            Login
          </button>
          <button [routerLink]="'/singup'" type="button" class="btn me-3" id="singup">
            Sing up
          </button>
        </div>
      </div>
    </div>
</nav>

<!-- Barra tools -->
<ng-template #isLoggedIn>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/dashboard"><img src="../assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active" aria-current="page" id="ONUS">ONUS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          
        </ul>
        <div class="d-flex align-items-center">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a class="search_icon" href="#"><img src="../../assets/images/dashboard/lupa.png" height="20" alt="imagen lupa"></a>
              </div>
        </div>
      </div>
    </div>
  </nav>
  
</ng-template>


