<div class="container-fluid p-5">

  <h1 class="h3 mb-3"> Panel de <strong>Carga</strong></h1>

    <div class="row buscador"> 
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="label" for="paisR">PAIS</label>
                        <div class="form-floating mb-3">
                          <select name="paisR" 
                          id="paisR" 
                          class="form-control" 
                          #paisR="ngModel" 
                          ngModel 
                          (ngModelChange)="renewProvinciasR($event)">
                            <option value="">Selecciona un pais</option>
                            <option *ngFor="let pais of paisesR" [ngValue]="pais" class="option">{{pais.nombre}}
                            </option>
                          </select>
                          <label for="paisR"> Pais </label>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="label" for="provinciaR">PROVINCIA</label>
                        <div class="form-floating mb-3">
                          <select 
                          name="provinciaR" 
                          id="provinciaR" 
                          class="form-control" 
                          #provinciaR="ngModel" 
                          ngModel
                          (ngModelChange)="renewLocalidadesR($event)">
                            <option value="">Selecciona una provincia</option>
                            <option *ngFor="let provincia of provinciasR" [ngValue]="provincia" class="option">
                              {{provincia.nombre}}</option>
                          </select>
                          <label for="provinciaR">Provincia</label>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="label" for="localidadR">LOCALIDAD</label>
                        <div class="form-floating mb-3">
                          <select 
                          name="localidadR" 
                          id="localidadR" 
                          class="form-control" 
                          #localidadR="ngModel" 
                          ngModel
                          (ngModelChange)="renewLocalidadR($event)"
                         >
                            <option value="">Selecciona una localidad</option>
                            <option *ngFor="let localidad of localidadesR" [ngValue]="localidad" class="option">
                              {{localidad.nombre}}</option>
                          </select>
                          <label for="localidadR">Localidad</label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="label" for="paisE">PAIS</label>
                    <div class="form-floating mb-3">
                      <select 
                      name="paisE" 
                      id="paisE" 
                      class="form-control" 
                      #paisE="ngModel" 
                      ngModel
                      disabled
                        (ngModelChange)="renewProvinciasE($event)">
                        <option value="">Selecciona un pais</option>
                        <option *ngFor="let pais of paisesE" [ngValue]="pais" class="option">{{pais.nombre}}
                        </option>
                      </select>
                      <label for="paisE"> Pais </label>
                    </div>
                  </div>
                <div class="col">
                    <div class="form-group">
                        <label class="label" for="provinciaE">PROVINCIA</label>
                        <div class="form-floating mb-3">
                          <select name="provinciaE" 
                          id="provinciaE" 
                          class="form-control" 
                          #provinciaE="ngModel" 
                          ngModel
                          disabled
                          (ngModelChange)="renewLocalidadesE($event)">
                            <option value="">Selecciona una provincia</option>
                            <option *ngFor="let provincia of provinciasE" [ngValue]="provincia" class="option">
                              {{provincia.nombre}}</option>
                          </select>
                          <label for="provinciaE">Provincia</label>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="label" for="localidadE">LOCALIDAD</label>
                        <div class="form-floating mb-3">
                          <select name="localidadE" 
                          id="localidadE" 
                          class="form-control" 
                          #localidadE="ngModel" 
                          ngModel
                          disabled
                      
                            (ngModelChange)="renewLocalidadE($event)">
                            <option value="">Selecciona una localidad</option>
                            <option *ngFor="let localidad of localidadesE" [ngValue]="localidad" class="option">
                              {{localidad.nombre}}</option>
                          </select>
                          <label for="localidadE">Localidad</label>
                        </div>
                      </div>
                </div>
            </div>

        </div>
        <div class="col-12">
            <p>
                <a class="btn btn-primary disabled-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                (click)="changeButton()" id="botonFiltros">
                  Más filtros
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="fInicio">FECHA DE INICIO</label>
                                <div class="form-floating mb-3">
                                  <input type="datetime-local"  class="company form-control" 
                                  min = "{{ hoy | date: 'yyyy-MM-ddTHH:mm'}}" 
                                  name="fInicio" 
                                  id="fInicio"
                                  #fInicio = "ngModel"
                                  ngModel
                                  fInicioValidator
                                  (change)="updateTime()"
                                  />
                                  <div *ngIf="fInicio.invalid && (fInicio.dirty ||fInicio.touched)">
                                    <div *ngIf="['fechav']" class="invalid-tooltip d-block">
                                      {{fInicio.errors?.['requiredValue']}}
                                    </div>
                                  </div>
                                  <label for="fInicio"> Fecha de inicio </label>
                                </div>
                              </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="fHoraFin">FECHA DE FIN</label>
                                <div class="form-floating mb-3">
                                  <input type="datetime-local" 
                                  name="fHoraFin"
                                  id="fHoraFin" 
                                  class="company form-control"
                                  #fHoraFin="ngModel" 
                                  ngModel 
                                  fFinValidtor 
                                  (change)="checkTime()"
                                    />
                                    <div *ngIf="(fHoraFin.invalid && (fHoraFin.dirty ||fHoraFin.touched)) || shortTime">
                                      <div *ngIf="['fechav']" class="invalid-tooltip d-block">
                                        {{fHoraFin.errors?.['requiredValue']}}
                                      </div>
                                      <div *ngIf="shortTime" class="invalid-tooltip d-block">
                                        Tiempo de trasito muy corto
                                      </div>
                                    </div>
                                  <label for="fHoraFin"> Fecha de fin </label>
                                </div>
                              </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="tipoCamion">TIPO DE CAMION</label>
                                <div class="form-floating mb-3">
                                  <select name="tipoCamion" 
                                  id="tipoCamion" 
                                  #tipoCamion="ngModel"
                                  ngModel
                                  class="form-select"
                                  aria-label="Floating label select example"
                                  (ngModelChange)="checkTipoCamion($event)" 
                                   >      
                                    <option value="" hidden>
                                      Selecciona
                                    </option>
                                    <ng-container *ngIf="tiposCamion$ | async as tiposCamion">
                                    <option *ngFor="let tipoCamion of tiposCamion" [ngValue]="tipoCamion">
                                      {{tipoCamion.nombre}}
                                    </option>
                                  </ng-container>
                                  </select>
                                  <label for="tipoCamion">Tipo de Camion</label>
                                </div>
                              </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="tipoRemolque">TIPO DE REMOLQUE</label>
                                <div class="form-floating mb-3">
                                  <select name="tipoRemolque" 
                                  id="tipoRemolque" 
                                  #tipoRemolque="ngModel"
                                  ngModel
                                  class="form-select"
                                  aria-label="Floating label select example"
                                  (ngModelChange)="checkTipoRemolque($event)"
                                   >
                                    <option value="" hidden>
                                      Selecciona
                                    </option>
                                    <ng-container *ngIf="tiposRemolque$ | async as tiposRemolque">
                                    <option *ngFor="let tipoRemolque of tiposRemolque" [ngValue]="tipoRemolque">
                                      {{tipoRemolque.nombre}}
                                    </option>
                                  </ng-container>
                                  </select>
                                  <label for="tipoRemolque">Tipo de Remolque</label>
                                </div>
                    
                              </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="pago">PAGO(mín)</label>
                                <div class="form-floating mb-3">
                                  <input type="text" 
                                  name="pago" 
                                  id="pago" 
                                  class="company form-control" 
                                  #pago="ngModel"
                                  ngModel
                                  precioValidator 
                                  (ngModelChange)="checkPagoMin($event)"
                                  />
                                  <div *ngIf="pago.invalid && (pago.dirty ||pago.touched)">
                                    <div *ngIf="['preciov']" class="invalid-tooltip d-block">
                                      {{pago.errors?.['requiredValue']}}
                                    </div>
                                  </div>
                                  <label for="pago"> Pago</label>
                                </div>
                              </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label" for="tipoFiltro">DURACION DEL VIAJE</label>
                                <div class="form-floating mb-3">
                                  <select name="tipoFiltro" 
                                  id="tipoFiltro"
                                  #tipoFiltro="ngModel"
                                  ngModel 
                                  class="form-select"
                                  aria-label="Floating label select example"
                                  (ngModelChange)="changeDuration($event)"
                                  >      
                                    <option value="duracion" selected>
                                      Duracion
                                    </option>
                                    <option value="distancia">
                                        Distancia
                                      </option></select>
                                  <label for="tipoFiltro">Duracion del viaje</label>
                                </div>
                              </div>
                        </div>
                        <ng-container *ngIf="isDuracion;else distanciaBlock">
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="label" for="horasmin">HORAS(MÍN)</label>
                                    <div class="form-floating mb-3">
                                      <input type="text" 
                                      name="horasmin" 
                                      id="horasmin" 
                                      class="company form-control" 
                                      #horasmin="ngModel"
                                      ngModel
                                      precioValidator 
                                      (ngModelChange)="checkHorasMin($event)"
                                      />
                                         <div *ngIf="horasmin.invalid && (horasmin.dirty ||horasmin.touched)">
                                          <div *ngIf="['preciov']" class="invalid-tooltip d-block">
                                            {{horasmin.errors?.['requiredValue']}}
                                          </div>
                                        </div>
                                      <label for="horasmin"> Horas(mín)</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="label" for="horasmax">HORAS(MAX)</label>
                                    <div class="form-floating mb-3">
                                      <input type="text" 
                                      name="horasmax" 
                                      id="horasmax" 
                                      class="company form-control" 
                                      #horasmax="ngModel"
                                      ngModel
                                      precioValidator 
                                      (ngModelChange)="checkHorasMax($event)"
                                      />
                                         <div *ngIf="horasmax.invalid && (horasmax.dirty ||horasmax.touched)">
                                          <div *ngIf="['preciov']" class="invalid-tooltip d-block">
                                            {{horasmax.errors?.['requiredValue']}}
                                          </div>
                                        </div>
                                        <div *ngIf=isMinMayMax class="invalid-tooltip d-block">
                                          La hora maxima no puede ser inferior a la minima
                                        </div>
                                      <label for="horasmax"> Horas(max)</label>
                                    </div>
                                  </div>
                            </div>
                        </ng-container>
                        <ng-template #distanciaBlock>
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="label" for="distanciamin">KM(MÍN)</label>
                                    <div class="form-floating mb-3">
                                      <input type="text" 
                                      name="distanciamin" 
                                      id="distanciamin" 
                                      class="company form-control" 
                                      #distanciamin="ngModel"
                                      ngModel
                                      precioValidator 
                                      (ngModelChange)="checkDistanciaMin($event)"
                                      />
                                         <div *ngIf="distanciamin.invalid && (distanciamin.dirty ||distanciamin.touched)">
                                          <div *ngIf="['preciov']" class="invalid-tooltip d-block">
                                            {{distanciamin.errors?.['requiredValue']}}
                                          </div>
                                        </div>
                                      <label for="distanciamin"> Km(mín)</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label class="label" for="distanciamax">KM(MAX)</label>
                                    <div class="form-floating mb-3">
                                      <input type="text" 
                                      name="distanciamax" 
                                      id="distanciamax" 
                                      class="company form-control" 
                                      #distanciamax="ngModel"
                                      ngModel
                                      precioValidator
                                      (ngModelChange)="checkDistanciaMax($event)"
                                      />
                                         <div *ngIf="distanciamax.invalid && (distanciamax.dirty ||distanciamax.touched)">
                                          <div *ngIf="['preciov']" class="invalid-tooltip d-block">
                                            {{distanciamax.errors?.['requiredValue']}}
                                          </div>
                                        </div>
                                        <div *ngIf=isMinMayMax class="invalid-tooltip d-block">
                                          La distancia maxima no puede ser inferior a la minima
                                        </div>
                                      <label for="distanciamax"> Km(max)</label>
                                    </div>
                                  </div>
                            </div>
                        </ng-template>

                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="row barraActualizacion">
          <div class="col-6">
            <div class="d-flex justify-content-start">
              <span class="texto">Mostrando {{nResultados}} resultados</span>
            </div>
          </div>
            <div class="col-6">
              <div class="d-flex justify-content-end">
                <span class="texto">Siguiente actualización {{timeLeft}}s</span>
                <button type="button" class="btn btn-light" (click)="refreshTime();">  
                  <i class="fa-solid fa-arrow-rotate-right"></i>
                </button>
                <button type="button" class="btn btn-light" *ngIf="!timePaused;else startBlock" (click)="pauseTimer();">  
                  <i class="fa-solid fa-pause"></i>
                </button>
                <ng-template #startBlock>
                  <button type="button" class="btn btn-light" (click)="startTimer();">  
                    <i class="fa-solid fa-play"></i>
                  </button>
                </ng-template>
                <div class="dropdown">
                  <div class="dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <button type="button" class="btn btn-light">  
                      <i class="fa-solid fa-gear"></i>
                    </button>
                  </div>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="times" (click)="changeTimer(15);">15 seconds</li>
                    <li class="times" (click)="changeTimer(30);">30 seconds</li>
                    <li class="times" (click)="changeTimer(40);">40 seconds</li>
                    <li class="times" (click)="changeTimer(60);">60 seconds</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 badges">
            <span *ngIf="isFInicio" class="badge rounded-pill bg-info text-dark spanCross" id="fechaInicio">
              Fecha de Inicio : {{infoFInicio}} 
              <button class="butonspan" (click)=" removeFInicio();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span *ngIf="isFFin" class="badge rounded-pill bg-info text-dark spanCross">Fecha de Fin: {{infoFFin}}   
              <button class="butonspan" (click)=" removeFFin();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span  *ngIf="isTipoCamion" class="badge rounded-pill bg-info text-dark spanCross">Tipo camion: {{infoTipoCamion}}  
              <button class="butonspan" (click)=" removeTipoCamion();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span  *ngIf="isTipoRemolque" class="badge rounded-pill bg-info text-dark spanCross">Tipo remolque: {{infoTipoRemolque}}  
              <button class="butonspan" (click)=" removeTipoRemolque();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span *ngIf="isPagoMinimo"  class="badge rounded-pill bg-info text-dark spanCross">Pago mínimo : {{infoPagoMinimo}}  
              <button class="butonspan" (click)=" removePagoMinimo();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span  *ngIf="isHorasMinimo" class="badge rounded-pill bg-info text-dark spanCross">Horas mínimas : {{infoHorasMinimo}}  
              <button class="butonspan" (click)=" removeHorasMinimo();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span  *ngIf="isHorasMaximo" class="badge rounded-pill bg-info text-dark spanCross">Horas máximas : {{infoHorasMaximo}}  
              <button class="butonspan" (click)=" removeHorasMaximo();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span  *ngIf="isDistanciaMinimo" class="badge rounded-pill bg-info text-dark spanCross">Distancia mínima : {{infoDistanciaMinimo}} 
              <button class="butonspan" (click)=" removeDistanciaMinimo();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
            <span *ngIf="isDistanciaMaximo"  class="badge rounded-pill bg-info text-dark spanCross">Distancia máxima : {{infoDistanciaMaximo}}  
              <button class="butonspan" (click)=" removeDistanciaMaximo();"><i class="fa-solid fa-circle-xmark"></i></button>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="alert alert-success" role="alert" *ngIf="isReservado">
            {{errMsj}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="notReservado">
            {{errMsj}}
          </div>
        </div>
        <div class="row">
          <ng-template #content let-modal>
            <form #expedidorform="ngForm" (submit)="onReserva(expedidorform.value)" id="myForm">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Reservar viaje</h4>
                <button type="button" class="btn-close" aria-label="Close"
                  (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <div class="row g-0">
                  <div class="col-12 mt-2">
                    La confirmación de la reserva conllevará el contrato por ambas partes (portadora-expedidora) a cumplir con sus obligaciones , 
                    tanto a la recepción como a la entrega de la mercancía y en oposición el pago de la misma , cualquier parte incumplida de 
                    dicho contrato acarreará sanciones de rendimiento y perdida al panel de carga por parte de la empresa portadora  y por parte 
                    de la empresa expedidora se le sancionará economicamente.
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelado')">Cancelar</button>
                <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Reservado')">Confirmar reserva</button>
              </div>
            </form>
          </ng-template>
        </div>
        <div class="row panel g-0 mt-5">
          <div class="col-12">
            <div class="row">
              <ng-container *ngFor="let viaje of viajesFiltrados ; let indice =index">
                  <a class="btn btn-primary" data-bs-toggle="collapse" [attr.href]="'#collapse' + indice" role="button" aria-expanded="false" aria-controls="collapseExample" 
                  style="margin:0 ; background-color: rgba(228, 225, 225, 0.555); color: black; margin-bottom: 5px;"
                  >
                    <div class="row align-items-center">
                        <div class="col-3">
                         <i class="fa-solid fa-1"></i> 
                         {{viaje.recogidaDeDireccion.direccionDeLocalidad.nombre}},
                         {{viaje.recogidaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}},
                         <p>
                             {{viaje.fHoraInicio| date :'fullDate'}}
                             {{viaje.fHoraInicio| date :'shortTime'}}
                         </p> 
                         
                        </div>
                        <div class="col">
                         <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <div class="col-3">
                         <i class="fa-solid fa-2"></i> 
                         {{viaje.entregaDeDireccion.direccionDeLocalidad.nombre}},
                         {{viaje.entregaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}},
                         <p>
                             {{viaje.fHoraFin| date :'fullDate'}}
                             {{viaje.fHoraFin| date :'shortTime'}}
                         </p> 
                         
                        </div>
                        <div class="col">
                         {{(viaje.distancia/1000).toFixed(0)}} Km
                         <p>
                             {{viaje.tiempo*1000 | date:'H':'UTC'}} h
                             {{viaje.tiempo*1000 | date:'mm':'UTC'}} m
                         </p>
                        </div>
                        <div class="col">
                         <i class="fa-solid fa-truck"></i>
                            <p>{{viaje.viajeDeTipoCamion.nombre}}</p>
                        </div>
                        <div class="col">
                         <i class="fa-solid fa-trailer"></i>
                         <p *ngIf="viaje.viajeDeTipoRemolque; else remolqueBlock">{{viaje.viajeDeTipoRemolque.nombre}}</p>
                         <ng-template #remolqueBlock>
                         <p>Sin remolque</p>
                         </ng-template>
                        </div>
                        <div class="col">
                         <i class="fa-solid fa-euro-sign"></i>
                         <p>
                             {{viaje.precio}} €
                         </p>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light" (click)="open(content , viaje.id)">  
                            Reservar
                          </button>
                        </div>
                    </div>
                 </a>
             <div class="collapse" [attr.id]="'collapse' + indice" >
              <div class="card border-secondary mb-3">
                  <div class="card-header">
                      <div class="row align-items-center" id="titulo">
                          <div class="col">
                              <i class="fa-solid fa-circle-arrow-up"></i>
                          </div>
                          <div class="col-3">
                           <i class="fa-solid fa-1"></i> 
                           {{viaje.recogidaDeDireccion.direccionDeLocalidad.nombre}},
                           {{viaje.recogidaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}},
                           <p>
                               {{viaje.fHoraInicio| date :'fullDate'}}
                               {{viaje.fHoraInicio| date :'shortTime'}}
                           </p> 
                           
                          </div>
                          <div class="col">
                           <i class="fa-solid fa-arrow-right"></i>
                          </div>
                          <div class="col-3">
                           <i class="fa-solid fa-2"></i> 
                           {{viaje.entregaDeDireccion.direccionDeLocalidad.nombre}},
                           {{viaje.entregaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}},
                           <p>
                               {{viaje.fHoraFin| date :'fullDate'}}
                               {{viaje.fHoraFin| date :'shortTime'}}
                           </p> 
                           
                          </div>
                          <div class="col">
                           {{(viaje.distancia/1000).toFixed(0)}} Km
                           <p>
                               {{viaje.tiempo*1000 | date:'H':'UTC'}} h
                               {{viaje.tiempo*1000 | date:'mm':'UTC'}} m
                           </p>
                          </div>
                          <div class="col">
                           <i class="fa-solid fa-truck"></i>
                              <p>{{viaje.viajeDeTipoCamion.nombre}}</p>
                          </div>
                          <div class="col">
                           <i class="fa-solid fa-trailer"></i>
                           <p *ngIf="viaje.viajeDeTipoRemolque; else remolqueBlock">{{viaje.viajeDeTipoRemolque.nombre}}</p>
                           <ng-template #remolqueBlock>
                           <p>Sin remolque</p>
                           </ng-template>
                          </div>
                          <div class="col">
                           <i class="fa-solid fa-euro-sign"></i>
                           <p>
                               {{viaje.precio}} €
                           </p>
                          </div>
                      </div>
                  </div>
                  <div class="card-body text-secondary">
                    <div class="row g-0 align-items-center">
                      <div class="col">
                          <p><i class="fa-solid fa-1"></i></p>
                          
                          {{viaje.recogidaDeDireccion.tipo}} 
                          {{viaje.recogidaDeDireccion.nombre}}, 
                          {{viaje.recogidaDeDireccion.numero}}
                          <p>
                              {{viaje.recogidaDeDireccion.direccionDeLocalidad.nombre}}, 
                              {{viaje.recogidaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}}
                              {{viaje.recogidaDeDireccion.direccionDeLocalidad.cp}}
                          </p>
                    </div>
                    <div class="col">
                        <p><i class="fa-solid fa-clipboard"></i> Descripcion</p>
                        {{viaje.descripcion}} 
                    </div>
                    <div class="col">
                        <p>
                          <i class="fa-solid fa-clock"></i> Llegada al centro de carga
                        </p>
                        <p>
                          {{viaje.fHoraInicio| date :'fullDate'}}
                          {{viaje.fHoraInicio| date :'shortTime'}}
                      </p> 
  
                    </div>  
                    </div>
                    <hr>
                    <div class="row align-items-center">
                      <div class="col">
                          <p><i class="fa-solid fa-2"></i></p>
                          
                          {{viaje.entregaDeDireccion.tipo}} 
                          {{viaje.entregaDeDireccion.nombre}}, 
                          {{viaje.entregaDeDireccion.numero}}
                          <p>
                              {{viaje.entregaDeDireccion.direccionDeLocalidad.nombre}}, 
                              {{viaje.entregaDeDireccion.direccionDeLocalidad.localidadDeProvincia.nombre}}
                              {{viaje.entregaDeDireccion.direccionDeLocalidad.cp}}
                          </p>
                         
                      </div>
                    <div class="col">
                      <p><i class="fa-solid fa-clipboard"></i> Descripcion</p>
                      {{viaje.descripcion}} 
                  </div>
                  <div class="col">
                      <p>
                        <i class="fa-solid fa-clock"></i> Llegada al centro de descarga
                      </p>
                      <p>
                          {{viaje.fHoraFin| date :'fullDate'}}
                          {{viaje.fHoraFin| date :'shortTime'}}
                      </p> 
                  </div>  
                    </div>
                    <hr>
                    <div class="row align-items-center">
                      <button type="button" class="btn btn-light" (click)="updateMap(viaje.id);" id="viaje.id">  
                        <i class="fa-solid fa-map-location-dot"></i>
                      </button>
                      <ng-container *ngIf ="idMap === viaje.id">
                        <agm-map [latitude]="24.799448" [longitude]="120.979021" id="mapa">
                          <agm-direction 
                            [origin]="viaje.recogidaDeDireccion.direccionDeLocalidad.nombre" 
                            [destination]="viaje.entregaDeDireccion.direccionDeLocalidad.nombre"
                          >
                          </agm-direction>
                        </agm-map>
                      </ng-container>
                    </div>
                  </div>
                </div>
            </div>
  </ng-container>
            </div>
          </div>
        </div><br>


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/onus/dashboard">Dashboard /</a></li>
              <li class="breadcrumb-item active" aria-current="page">Panel de Carga</li>
            </ol>
          </nav>

</div>






