.buscador{
    background-color: rgba(228, 225, 225, 0.555);
    padding: 1%;
    margin-top: 5%;
}

button{
    margin: 0;
}

.barraActualizacion{
    margin-top: 1%;
}

.texto{
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

ul ,li{
    padding: 0%;
    margin: 0%;
}
.times{
    text-align: center;
    
}

.times:hover{
 background-color: #016270;
 cursor: pointer;
}

.dropdown-toggle{
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle::after {
    display: none !important; 
  }

  .disabled-link {
    pointer-events: none;
    background-color: rgb(162, 176, 184);
    border-color: rgb(162, 176, 184);
  }