
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/ptprincipal"><img src="../assets/images/camionLogo.png" height="50" alt="imagen logo empresa"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="toggle"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/ptprincipal" class="nav-link active" aria-current="page" href="#" id="ONUS">ONUS</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2" id="login">
          Login
        </button>
        <button [routerLink]="'singup'" type="button" class="btn me-3" id="singup">
          Sing up
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #016270"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">

               <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold"> empresas</h4>
            <p>
              <a class="text-white"> Your Account </a>
            </p>
            <p>
              <a class="text-white"> Portes </a>
            </p>
            <p>
              <a class="text-white"> Servicios nacionales </a>
            </p>
            <p>
              <a class="text-white"> Soluciones logísticas </a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold">
              transportistas
            </h4>
            <p>
              <a class="text-white">Your Account</a>
            </p>
            <p>
              <a class="text-white"> Portes </a>
            </p>
            <p>
              <a class="text-white"> Servicios nacionales </a>
            </p>
            <p>
              <a class="text-white"> Soluciones logísticas </a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold">Contacto</h4>
            <p><i class="fas fa-home mr-3"></i> Madrid, M 28051, ESP</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 34 985 567 88</p>
            <p><i class="fas fa-cliente mr-3"></i> Atención al cliente </p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2022 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                 >ONUS</a 
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <img src="../assets/images/footer/facebook.png" alt="facebook" width="40px" height="35px">

            <!-- Twitter -->
            <img src="../assets/images/footer/twitter.png" alt="twitter" width="40px" height="30px">

            <!-- Instagram -->
            <img src="../assets/images/footer/insta.png" alt="instagram" width="50px" height="50px">

            <!-- Gobierno -->
            <img src="../assets/images/footer/gob.png" alt="gobierno" width="100px" height="40px">
          </div>
          <!-- Grid column -->
        </div> 
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer --> 


    

