

.navbar{
    background-color: #016270;
}


#singup {
    background-color:rgb(226, 50, 118); 
    color: white;
}

#login{
    text-decoration: none;
    color:white;
}

#ONUS{
    color: white;
}

