{{transporte | json}}
	<div class="page-content">
	
		<div class="form-v10-content">
			<form #singupform="ngForm" class="form-detail" 
				(submit)="onSubmit(singupform.value)" 
				id="myform"
				>
				<div class="form-left">
					<h2>Datos de la Empresa</h2>
					<div class="form-row">
						<select name="rol"  
						class="form-control"
						#rol="ngModel"
						ngModel
						rolValidator
						>
							<option value="">Selecciona tu tipo de empresa</option>
						    <option  *ngFor="let rol of roles" 
							[ngValue]="rol" 
							class="option">{{rol.nombre}}</option>
						</select>
						<div *ngIf="rol.invalid && (rol.dirty ||rol.touched)" >
							<div *ngIf="['rolv']" class="invalid-tooltip d-block">
								{{rol.errors?.['requiredValue']}}
							</div>
						</div>
					</div>
					<div class="form-row">
						<input type="text" 
						 name="nombre" 
						 class="company form-control is-valid" 
						 placeholder="Nombre de la compañia"		 
						 #nombre = "ngModel"
						 ngModel
						 nombreValidator
						 />
						 <div *ngIf="nombre.invalid && (nombre.dirty ||nombre.touched)" >
							<div *ngIf="['nombrev']" class="invalid-tooltip d-block">
								{{nombre.errors?.['requiredValue']}}
							</div>
						</div>
					</div>
					<div class="form-row">
						<input type="text"  
						name="documento" 
						class="company form-control" 
						placeholder="NIF/CIF"
						#documento = "ngModel"
						ngModel 
						/>
					</div>
					<div class="form-row">
						<select name="pais"
						class="form-control"
						#pais="ngModel"
						ngModel 
						(ngModelChange)="renewProvincias($event)">
							<option value="">Selecciona un pais</option>
						    <option *ngFor="let pais of paises" 
							[ngValue]="pais" 
							class="option">{{pais.nombre}}</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row" >
						<select name="provincia" 
						class="form-control"
						#provincia = "ngModel"
						ngModel 
						(ngModelChange)="renewLocalidades($event)">
						<option value="">Selecciona una provincia</option>
						    <option *ngFor="let provincia of provincias" 
							[ngValue]="provincia" 
							class="option">{{provincia.nombre}}</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<select name="localidad" 
						class="form-control"
						#localidad = "ngModel"
						ngModel
						>
						<option value="">Selecciona una localidad</option>
							<option *ngFor="let localidad of localidades" 
							[ngValue]="localidad" 
							class="option">{{localidad.nombre}}</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
				</div>
				<div class="form-right">
					<h2>Detalles de Contacto</h2>

					<div class="form-group">
						<div class="form-row form-row-1">
							<select name="direccionvia"
							class="form-control"
							#direccionvia="ngModel"
							ngModel
							>
								<option value="">Tipo de Via</option>
							    <option value="calle">Calle</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
						<div class="form-row form-row-2">
							<input type="text" 
							name="direccion" 
							class="additional form-control" 
							placeholder="direccion"
							#direccion="ngModel"
							ngModel 
							 > 
						</div>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" 
							name="direccionnumero"
							class="zip form-control" 
							#direccionnumero="ngModel"
							placeholder="nº"  
							ngModel>
						</div>
					</div>

					<div class="form-group">
						<div class="form-row form-row-1">
							<select type="text" 
							name="prefijo" 
							class="code form-control" 
							#prefijo="ngModel"
							ngModel>
								<option value="">+</option>
								<option value="+34">+34</option>
							</select>
						</div>
						<div class="form-row form-row-2">
							<input type="text" 
							name="phone" 
							class="phone form-control"
							#phone="ngModel"
							placeholder="Telefono"  
							ngModel>
						</div>
					</div>
					<div class="form-row">
						<input type="text" 
						name="email"
						#email = "ngModel"  
						class="input-text form-control" 
						ngModel
						placeholder="Email">
					</div>
					<div class="form-checkbox">
						<label class="container"><p>Acepto <a href="#" class="text">los Términos y Condiciones</a> de la página.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Registrarse">
					</div>
				</div>
			</form>



			
